<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.josephearl.foundry.sample">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"/>

    <application
        android:label="@string/app_name">

        <activity
            android:name=".FoundrySampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
